<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <img 
            src="../../assets/Logo.jpg" 
            alt="Logo PymeExpress"
            width="150"
            height="75"
            >
        </div>
        <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <p>Inicio</p>
        </div>
        <div class="col-md-3 text-end">
            <button type="button" class="btn me-2">Iniciar Sesión</button>
            <button type="button" class="btn ">Registrarse</button>
        </div>
    </header>
</div>