<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
      <p class="mb-0">&copy; 2024–2024 PymeExpress. Todos los derechos reservados.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-white">Privacidad</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Términos</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Contacto</a></li>
      </ul>
    </div>
  </footer>


