<div class="d-flex flex-column row mb-3">
  <form [formGroup]="formFiltro" class="d-flex flex-column gap-3 col-12 col-md-6 col-xl-12">
    <p-multiSelect 
      [options]="productosServicio.categorias"
      formControlName="categorias"
      placeholder="Categorias"
      
    />
    <p-multiSelect 
      [options]="productosServicio.pymes"
      formControlName="pymes"
      placeholder="Pymes"
    />
    <p-slider 
      formControlName="precios" 
      [range]="true" 
      styleClass="w-14rem"
      [min]='obtenerPrecioMenor()'
      [max]='obtenerPrecioMayor()'
    />
    <button type="submit" (click)="filtrar()" class="btn btn-primary btn-block">Aplicar Filtro</button>
  </form>
  
</div>