.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1200px) {
    .layout {
        display: grid;
        grid-template-columns: 0.5fr repeat(2, 1fr);
        grid-template-rows: 0.1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        }
        
    .filtro { grid-area: 2 / 1 / 3 / 2; }
    .productos { grid-area: 2 / 2 / 3 / 4; }
    .botones { grid-area: 1 / 3 / 2 / 4; }
}

.lay-productos {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .lay-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        grid-auto-flow: row;
    }
}

@media (min-width: 1200px) {
    .lay-productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        grid-auto-flow: row;
    }
}

.scrollable_div {
    max-height: 350px; /* ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    overflow-x: hidden;
}