<div class="container" >

    <div class="row"> 
        <div class="col-md-2">Filtros</div>
        <!-- Hacer un filtro por categorias (le agregue tipo de producto al modelo de producto) -->
        
    </div>
    
    <div class=" mt-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @for (product of productos; track product){
        <div class="col">
            <div class="card shadow-sm">
              <img 
              [src]="product.imagen" 
              alt="Imagen del producto producto"
              width="200"
              height="200"
              >
              <div class="card-body">
                <p class="card-text">{{ product.nombre }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Producto</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Agregar al carrito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
</div>
    
