<div class="oscuro" (click)="cerrarVentana()">
    <div class="ventana card w-50 h-auto shadow p-3 gap-md-3 " (click)="noCerrar($event)">
        <!-- Imagen producto -->
        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-center gap-3">
            <img 
            [src]="producto?.imagen" 
            alt=""
            width="auto"
            height="auto"
            >
            <!-- Nombre y precio producto -->
            <div>
                <h4>{{producto?.nombre}}</h4>
                <p>{{producto?.precio}}</p>
            </div>
        </div>
        <!-- Ajustar cantidad -->
        <div class="d-flex flex-column justify-content-center">
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad</label>
                <input type="number" id="quantity" class="form-control border-dark" min="1" max={{producto?.cantidad}} />
            </div>
            <button class="btn btn-primary">Agregar al Carrito</button>
        </div>
    </div>
</div>