<div class="container mt-4">
    <h2>Mis Compras</h2>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card-columns">
          <div class="card mb-4" *ngFor="let compra of compras">
            <div class="card-header">
              <strong>Fecha y Hora de Compra:</strong> {{ compra.fechaCompra | date: 'dd/MM/yyyy HH:mm' }}
            </div>
            <div class="row g-0">
              <div class="col-md-3">
                <img style="width: 100%;" [src]="compra.producto.imagen" class="card-img-top" alt="Imagen del Producto">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                <h3 class="card-title mb-4">{{ compra.nombreProducto }}</h3>
                  <h5 class="card-title">Codigo de compra: {{ compra.codigoCompra }}</h5>
                  <p class="card-text">Descripción del producto: {{ compra.producto.descripcion }}</p>
                  <a [routerLink]="['/detalle-compra', compra.id]" class="btn btn-primary">Ver Compra</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  