<div class="container mt-5">
    <div class="row justify-content-center mb-3">
      <div class="col-lg-6 ">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Registrarse</h3>
          </div>
          <div class="card-body">
            <form class="d-flex flex-column gap-2">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" required [(ngModel)]="nombre">
              </div>

              <div class="d-flex flex-column flex-md-row gap-2 gap-md-4">
                <div class="form-group flex-md-fill">
                  <label for="apellido1">Apellido Paterno</label>
                  <input type="text" id="apellido1" class="form-control" required [(ngModel)]="apellido1">
                </div>
                <div class="form-group flex-md-fill">
                  <label for="apellido2">Apellido Materno</label>
                  <input type="text" id="apellido2" class="form-control" required [(ngModel)]="apellido2">
                </div>
              </div>

              <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" class="form-control" required [(ngModel)]="correo">
              </div>

              <div class="d-flex flex-column flex-md-row gap-2 gap-md-4">
                <div class="form-group flex-md-fill">
                  <label for="contraseña">Contraseña</label>
                  <input type="password" id="contraseña" class="form-control" required [(ngModel)]="password">
                </div>
                <div class="form-group flex-md-fill">
                  <label for="confirmarContraseña">Confirmar Contraseña</label>
                  <input type="password" id="confirmarContraseña" class="form-control" required required [(ngModel)]="confirmarPassword">
                </div>
              </div>

              <div class="form-group">
                <label for="telefono">Nro. teléfono</label>
                <input type="number" id="telefono" class="form-control" required [(ngModel)]="telefono">
              </div>
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" class="form-control" required [(ngModel)]="direccion">
              </div>
              <button (click)="enviar()" type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
